
.list-item{
    list-style-type:none;
    padding-left: 20px;
}
.item-bg{
    background-color:#e5f0f0;
}
.nav-link{
    text-decoration: none;
    
}
.name-text{
    color:black;
    font-size: 18px;
    font-weight: 500;
    padding:6px;
}
.name-color{
    color:blue;
}

